<div class="">
  <div>
    <span>Element per page</span>
    <select (change)="onPageSizeChange(pageSize)">
      <option *ngFor="let item of pageSizeOptions">{{ item }}</option>
    </select>
  </div>
  <div>Page<span>{{ getRangeLabel(pageIndex, pageSize, length) }}</span></div>
  <div>
    <button (click)="onFirstPageClicked()"><<</button>
    <button (click)="onPreviousPageClicked()"><</button>

    <ng-container *ngIf="range.length <= 10">
      <button *ngFor="let item of range; let i=index" (click)="onPageClicked(i)">{{ item }}</button>
    </ng-container>

    <ng-container *ngIf="range.length > 10">
      <ng-container *ngFor="let item of range.slice(0, 5); let i=index">
        <button (click)="onPageClicked(i)">{{ item + 1 }}</button>
      </ng-container>
      <span>...</span>
      <ng-container *ngFor="let item of range.slice(range.length - 5, range.length); let i=index">
        <button (click)="onPageClicked(i)">{{ item + 1 }}</button>
      </ng-container>
    </ng-container>

    <button (click)="onNextPageClicked()">></button>
    <button (click)="onLastPageClicked()">>></button>
  </div>
</div>
