<table>
  <thead>
  <tr>
    <th *ngFor="let column of displayedColumns" >{{column.name}}<span [sortable]="column"></span></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of (data$ | async)">
    <tr>
      <td>{{ data.id }}</td>
      <td>{{ data.nom }}</td>
      <td>{{ data.prenom }}</td>
      <td>{{ data.age }}</td>
    </tr>
  </ng-container>
  </tbody>
</table>

<ngx-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5,10,20,25,50,100]"></ngx-paginator>
